@charset "UTF-8";

* {

    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;

}

html, body {

    background-color: lightgray;

}

header {

    background-color: gray;

}

header > h1 {

    padding: 10px;
    text-align: center;

}

 i#burguer {

    background-color: rgb(51, 51, 51);
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    
 }

 i#burguer:hover {

    background-color: white;
    color: black;

 }

menu {

    display: none;

}

menu > ul {

    list-style-type: none;

}

menu > ul > li > a {

    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: rgb(88, 88, 88);
    color: white;
    text-align: center;
    border-top: 2px solid gray;

}

menu > ul > li > a:hover {

    background-color: rgb(104, 104, 104);

}

main {

    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;

}

article > h2 { 

    padding-bottom: 20px;

}

article > p {

    text-align: justify;
    text-indent: 20px;
    margin-bottom: 20px;

}