@charset "UTF-8";

/* Todas as demais mídias*/

/* Typical Device Breakpoints
    
    /* Extra small devices (phones, 600px and down) 
    @media only screen and (max-width: 600px) {...}*/

    /*Small devices (portrait tablets and large phones, 600px and up) 
    @media only screen and (min-width: 600px) {...}*/

    /* Medium devices (landscape tablets, 768px and up) 
    @media only screen and (min-width: 768px) {...}*/

    /* Large devices (laptops/desktops, 992px and up) 
    @media only screen and (min-width: 992px) {...}*/

    /* Extra large devices (large laptops and desktops, 1200px and up)
    @media only screen and (min-width: 1200px) {...}*/


@media print { /* IMPRESSÃO*/

    * {

        font-family: 'Courier New', Courier, monospace;
    }

    body {

        background-image: url(../imagens/back-print.jpg); /* desnecessário*/
    }

    main {

        border: 2px solid black;

    }

    main::after {

        content: 'Essa impressão foi feita através do site www.cursoemvideo.com';
        text-decoration: overline;

    }

    main h1 {

        text-shadow: none;
        color: black;

    }

    img#phone { display: none;}
    img#tablet { display: none;}
    img#print { display: block;}
    img#pc { display: none;}
    img#tv { display: none;}
}

@media screen and (min-width: 768px) and (max-width: 992px){ /* TABLET */
    body { 
        background-image: url(../imagens/back-tablet.jpg);
    }

    img#phone { display: none;}
    img#tablet { display: block;}
    img#print { display: none;}
    img#pc { display: none;}
    img#tv { display: none;}
}

@media screen and (min-width: 992px) and (max-width: 1200px) { /* DESKTOP*/
    body {
        background-image: url(../imagens/back-pc.jpg);
    }

    img#phone { display: none;}
    img#tablet { display: none;}
    img#print { display: none;}
    img#pc { display: block;}
    img#tv { display: none;}
    }

@media screen and (min-width:1200px) { /* TELAS GRANDES */
    body {
        background-image: url(../imagens/back-tv.jpg);
    }

    img#phone { display: none;}
    img#tablet { display: none;}
    img#print { display: none;}
    img#pc { display: none;}
    img#tv { display: block;}
}