@charset "UTF-8";

@media screen and (min-width: 768px) {

    i#burguer {
        display: none;
    }

    menu {

        display: block;

    }

    menu > ul {

        text-align: center;

    }

    menu > ul > li {

        display: inline-block;
        padding: 5px;
    }

    main {

        width: 768px;

    }
}