@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px
}

body {
    background-color: blue;
}

main {
    background-image: url('imagens/espaco.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

div {
    background-image: url('imagens/astronauta.png');
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}